/* .fillinfo {
  background-image: url("gs://tailorbot-925d1.appspot.com/orange-tartan-plaid-fabric-12635147.jpg ");
 
    background-color: #ff99bb;
}*/

.login { background-color:#00ff00;
font-size: 20px;
color: 	#59a66c;
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
