/* .fillinfo {
  background-image: url("gs://tailorbot-925d1.appspot.com/orange-tartan-plaid-fabric-12635147.jpg ");
 
    background-color: #ff99bb;
}*/

.login { background-color:#ffb3d1;
font-size: 20px;
color: #330014;
}
