<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css" />
    <title>Customer Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
 
    <h1>Hello!! Fill the customer information here</h1>
	
		<div class ="info">

		<form id="form" action="../../  /" method="post">
		<table>
			
		
				<tr>
					<td><label>Name </label>
					 <input type="text" name ="name" id="nam" placeholder="Enter Your Name" required></td></br>
				</tr>

				<tr>
					<td><label>Ph No. </label>
					<input type="text" name ="ph" id="phnum" placeholder="Enter Your Ph No." required> </td>
				</tr>
				
				<tr>
					<td><label>Design Type No.</label>
					<input type="text" name ="ph" id="phnum" placeholder="Enter Design Type No." required> </td>
				</tr>
				
				<tr>
					<td><label> Date</label>
					<input type="date" name ="ph" id="phnum" placeholder="Date" required> </td>
				</tr>
				
				<tr>
					<td><label>Special Instruction</label>
					<input type="text" name ="ph" id="phnum" placeholder="Enter Special Instruction" required> </td>
				</tr>
				
				<tr><td><input type="submit" name ="Submit" id="subm" value="submit" />
				<input type="reset" name ="cancel" id="canc" value="Cancel" /></td>
				</tr>
				
			
		</table>
	</form>>
		</div>
		
  </body>

</html>