<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" />
    <title>Catalouge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
<form id="form" action="../designtype" method="post">

    <h1>Catalouge</h1>
 <div class = "yinsi">
    <h1>This is Catalouge Page >> ရင်စေ့</h1>
	
	<table>
	<tr>
		<td>
		<img src = "gs://tailorbot-925d1.appspot.com/designtype1/1.jpg" width="200"height="265">
		</td>

	
	  <td> <img src = "yinsae/yin/2.jpg" width="200"height="265">
	  </td>
	
	
	  <td> <img src = "yinsae/yin/3.jpg" width="200"height="265">
	  </td>
 
	
	  <td> <img src = "yinsae/yin/4.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "yinsae/yin/5.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "yinsae/yin/6.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "yinsae/yin/7.jpg" width="200"height="265">
	  </td>
	 
	
 
	
	<tr>
	  <td>
		<button name="b1" style="width:50px; height:30px" >A001</button>
		</td>

		<td>
		<button name="b2" style="width:50px; height:30px" >A002</button>
		</td>
		
		<td>
		<button name="b3" style="width:50px; height:30px" >A003</button>
		</td>
		
		<td>
		<button name="b4" style="width:50px; height:30px" >A004</button>
		</td>
		<td>
		<button name="b4" style="width:50px; height:30px" >A005</button>
		</td>
		
		<td>
		<button name="b5" style="width:50px; height:30px" >A006</button>
		</td>
		
		<td>
		<button name="b6" style="width:50px; height:30px" >A007</button>
		</td>
		
	 
	</tr>
		
	</table>
	</div>
  </body>

</html>