<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" />
    <title>Catalouge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .yinsi{ 
              background-color: #FFF5EE;
              font-size:18px;
              color:#000000;
              margin-top: 100px;
              margin-bottom: 100px;
              margin-right: ;
              margin-left: 80px;
              text-align: center;
              line-height:50px;
              font-family:Roboto;
            }
			
			 .yinbon{ 
              background-color: #FFF5EE;
              font-size:18px;
              color:#000000;
              margin-top: 100px;
              margin-bottom: 100px;
              margin-right: ;
              margin-left: 80px;
              text-align: center;
              line-height:50px;
              font-family:Roboto;
            }
			
			 .other{ 
              background-color: #FFF5EE;
              font-size:18px;
              color:#000000;
              margin-top: 100px;
              margin-bottom: 100px;
              margin-right: ;
              margin-left: 80px;
              text-align: center;
              line-height:50px;
              font-family:Roboto;
            }
    </style>
    
 </head>

  <body>
<form id="form" action="../designtype" method="post">

    <h1>Catalogue</h1>
 <div class = "yinsi">
    <h1> Catalogue >> ရင်စေ့</h1>
	
	<table>
	<tr>
		<td>
		<img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F1.jpg?alt=media&token=ec54de18-cb16-429e-9033-fccc3936119a" width="200"height="265">
		</td>

	
	  <td> <img src ="https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F2.jpg?alt=media&token=7a5dc27d-a6c1-4970-93d1-37139bd82ed7" width="200"height="265">
	  </td>
	
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F3.jpg?alt=media&token=6ca61006-42ac-4741-bbff-9dff6d8dd4d8" width="200"height="265">
	  </td>
 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F4.jpg?alt=media&token=eb7e8844-7fc6-4335-8fd7-6d453efbb14b" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F5.jpg?alt=media&token=964bf258-8779-410a-93f0-4048b6caf980" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F6.jpg?alt=media&token=62b07244-dd11-483f-95f8-fc15f171a20e" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F7.jpg?alt=media&token=85278ad5-26de-49cb-a58a-af99597acc8c" width="200"height="265">
	  </td>
	 
	
 
	
	<tr>
	  <td>
		A001
		</td>

		<td>
		A002
		</td>
		
		<td>
		A003
		</td>
		
		<td>
		A004
		</td><br>
		<td>
		A005
		</td>
		
		<td>
		A006
		</td>
		
		<td>
		A007
		</td>
		
	 
	</tr>
		
	</table>
	</div>
	
	
	 <div class = "yinbon">
    <h1>Catalogue>> ရင်ဖုံး</h1>
	
	<table>
	<tr>
		<td>
		<img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B001.jpg?alt=media&token=c4d42c80-8e8c-453e-8f13-04a125896a46" width="200"height="265">
		</td>

	
	  <td> <img src ="https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B002.jpg?alt=media&token=0bda94cb-160b-4bce-907b-9eb6d570994a" width="200"height="265">
	  </td>
	
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B003.jpg?alt=media&token=40b19b15-f038-4593-b8de-9263255e1b8a" width="200"height="265">
	  </td>
 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B004.jpg?alt=media&token=2de3a458-26b7-4004-85c3-6d372983c18f" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B005.jpg?alt=media&token=9364d2a7-c410-4a6b-be13-80269feab082" width="200"height="285">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B006.jpg?alt=media&token=a6980477-ea06-4c52-90c1-e373833c84e5" width="200"height="285">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/B007.jpg?alt=media&token=d3b86989-96b7-428a-ba17-b2dee3a7f728" width="200"height="265">
	  </td>
	 
	
 
	
	<tr>
	  <td>
		B001
		</td>

		<td>
		B002
		</td>
		
		<td>
		B003
		</td>
		
		<td>
		B004
		</td><br>
		<td>
		B005
		</td>
		
		<td>
		B006
		</td>
		
		<td>
		B007
		</td>
		
	 
	</tr>
		
	</table>
	</div>
	
	 <div class = "other">
    <h1>Catalogue>> Other Type</h1>
	
	<table>
	<tr>
		<td>
		<img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C001.jpg?alt=media&token=3a3a1a42-77c6-4406-a73b-e74b09bbdc67" width="200"height="265">
		</td>

	
	  <td> <img src ="https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C002.jpg?alt=media&token=fda7ebe3-165d-4470-83ac-9b02593694cb" width="200"height="265">
	  </td>
	
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C003.jpg?alt=media&token=948cad41-9776-4a85-acaa-625fb1a324c5" width="200"height="350">
	  </td>
 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C004.jpg?alt=media&token=fb48921f-42d6-4dbd-b029-9c35d6ac633b" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C005.jpg?alt=media&token=c4b24ceb-7727-40c8-9e30-99ead9337cee" width="200"height="285">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C006.jpg?alt=media&token=b4939644-0374-442a-9639-02cddb6aa215" width="200"height="320">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/C007.jpg?alt=media&token=2ef96980-fc1c-486c-8b50-5cce1d951978" width="200"height="265">
	  </td>
	 
	
 
	
	<tr>
	  <td>
		C001
		</td>

		<td>
		C002
		</td>
		
		<td>
		C003
		</td>
		
		<td>
		C004
		</td><br>
		<td>
		C005
		</td>
		
		<td>
		C006
		</td>
		
		<td>
		C007
		</td>
		
	 
	</tr>
		
	</table>
	</div>
  </body>

</html>