<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" />
    <title>Catalouge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
<form id="form" action="../designtype" method="post">

    <h1>Catalouge</h1>
 <div class = "yinsi">
    <h1>This is Catalouge Page >> ရင်စေ့</h1>
	
	<table>
	<tr>
		<td>
		<img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F1.jpg?alt=media&token=ec54de18-cb16-429e-9033-fccc3936119a.jpg" width="200"height="265">
		</td>

	
	  <td> <img src ="https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F2.jpg?alt=media&token=7a5dc27d-a6c1-4970-93d1-37139bd82ed7.jpg" width="200"height="265">
	  </td>
	
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F3.jpg?alt=media&token=6ca61006-42ac-4741-bbff-9dff6d8dd4d8.jpg" width="200"height="265">
	  </td>
 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F4.jpg?alt=media&token=eb7e8844-7fc6-4335-8fd7-6d453efbb14b.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F5.jpg?alt=media&token=964bf258-8779-410a-93f0-4048b6caf980.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F6.jpg?alt=media&token=62b07244-dd11-483f-95f8-fc15f171a20e.jpg" width="200"height="265">
	  </td>
	 
	
	  <td> <img src = "https://firebasestorage.googleapis.com/v0/b/tailorbot-925d1.appspot.com/o/designtype1%2F7.jpg?alt=media&token=85278ad5-26de-49cb-a58a-af99597acc8c.jpg" width="200"height="265">
	  </td>
	 
	
 
	
	<tr>
	  <td>
		<button name="b1" style="width:50px; height:30px" >A001</button>
		</td>

		<td>
		<button name="b2" style="width:50px; height:30px" >A002</button>
		</td>
		
		<td>
		<button name="b3" style="width:50px; height:30px" >A003</button>
		</td>
		
		<td>
		<button name="b4" style="width:50px; height:30px" >A004</button>
		</td>
		<td>
		<button name="b5" style="width:50px; height:30px" >A005</button>
		</td>
		
		<td>
		<button name="b6" style="width:50px; height:30px" >A006</button>
		</td>
		
		<td>
		<button name="b7" style="width:50px; height:30px" >A007</button>
		</td>
		
	 
	</tr>
		
	</table>
	</div>
  </body>

</html>