<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Login</h1>
  <form action="login" method="post">

    <div class="login">

        username: <input type="text" name="username" /><br>
        password: <input type="password" name="password" /><br>
        <input type="submit" name="Submit" value="Submit"/>

    </div>

  </form> 

  </body>

</html>