<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <style>
        .details { 
                background-color: #FFF5EE;
                font-size:18px;
                color:#000000;
                margin-top: 100px;
                margin-bottom: 100px;
                margin-right: 150px;
                margin-left: 80px;
                text-align: center;
                line-height:50px;
                font-family:Roboto;
              }
      </style>
    
 </head>
  <div class="login">
  <body>
  <h1>Login</h1>
  <form action="login" method="post">

  

        username: <input type="text" name="username"/><br>
        password: <input type="password" name="password" /><br>
        <input type="submit" name="Submit" value="Submit"/>

    

  </form> 

  </body>
</div>
</html>