<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css" />
    <title>Measurement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  	 <form id="form" action="../measurement" method="post">
 
    <h1>Hello!! Fill Your Measurement Here </h1>
	
		<div class ="info">
		<table>
			
		
				<tr>
					<td><label>Biceps (လက်မောင်းရင်း) </label>
					 <input type="text" name ="bicep" id="nam" required></td></br>
				</tr>

				<tr>
					<td><label>Bust (ရင်)</label>
					<input type="phno" name ="bust" id="bustt"  required> </td>
				</tr>
				
				<tr>
					<td><label>Central Back (နောက်ကျော)</label>
					<input type="text" name ="centralb" id="cback"  required> </td>
				</tr>
				 <input type="text" name="item_batch"/><br>

				
				<tr>
					<td><label> Hip (တင်)</label>
					<input type="text" name ="hip" id="hipp" required> </td>
				</tr>
				
				<tr>
					<td><label>Shoulder (ပခုံး)</label>
					<input type="text" name ="shoulder" id="shoulderr"  required> </td>
				</tr>
				
					<tr>
					<td><label>Sleeve (လက်အရှည်)</label>
					<input type="text" name ="sleeve" id="sleevee"  required> </td>
				</tr>
				
					<tr>
					<td><label>Waist (ခါး)</label>
					<input type="text" name ="waist" id="waistt"  required> </td>
				</tr>
				
					<tr>
					<td><label>Waist to Ankle (ခါးမှခြေထောက်)</label>
					<input type="text" name ="waistA" id="wAnkle"  required> </td>
				</tr>
				
				<tr><td><input type="submit" name ="Submit" id="subm" value="submit" />
				<input type="reset" name ="cancel" id="canc" value="Cancel" /></td>
				</tr>
				
			
		</table>
		</div>
  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>		
  </body>

</html>