<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	 
    <title>Measurement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
 </head>

  <body>
  	 <form id="form" action="../measurement" method="post">
 
    <h1>Hello!! Fill Your Body Measurement Here </h1>
	
		<div class ="info">
		<table>
			
		
                <tr>
				   <td> <label for="name">Customer Name</label></td>
				<td><input type="text" name="name" value="<%= data.name %>" disabled/>
    			</tr>

				<tr>
					<td><label for+ "name">Biceps (လက်မောင်းရင်း) </label> </td>
					 <td><input type="text" name ="bicep" required></td>
				</tr>
				<tr>
					<td><label for+ "name">Bust (ရင်)</label></td>
					<td> <input type="text" name ="bust" required></td>
				</tr>
				
				<tr>
					<td><label for+ "name">Central Back (နောက်ကျော) </label></td>
					<td> <input type="text" name ="central_back" required></td>
				</tr>
				
				<tr>
					<td><label for+ "name">Hip (တင်) </label> </td>
					<td> <input type="text" name ="hip" required></td>
				</tr>
				<tr>
					<td><label for+ "name">Shoulder (ပခုံး) </label></td>
					<td> <input type="text" name ="shoulder" required></td>
				</tr>
				
				<tr>
					<td><label for+ "name">Sleeve (လက်အရှည်)</label> </td>
					<td> <input type="text" name ="sleeve" required></td>
				</tr>
				
				<tr>
					<td><label for+ "name">Waist (ခါး)</label> </td>
					<td> <input type="text" name ="waist" required></td>
				</tr>
				
				<tr>
					<td><label for+ "name">Waist to Ankle (ခါးမှခြေထောက်)</label> </td>
					<td> <input type="text" name ="waist_to_ankle" required></td>
				</tr>

				<tr>
					<td><label for="name">Comment</label></td>
    				<td><textarea name="comment" rows="4" cols="50"></textarea></td>
    			</tr>
				
				<tr>
				<td><input type="submit" name ="Submit" id="subm" value="submit" /></td>
				<td><input type="reset" name ="cancel" value="Cancel" /></td>
				</tr>
				
			
		</table>
		</div>
  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>		
  </body>

</html>