<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	  <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Order Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style> 
		.designtype { 
				background-color: #FFF5EE;
				font-size:18px;
				color:#000000;
			  	margin-top: 100px;
				margin-bottom: 100px;
				margin-right: 850px;
				margin-left: 80px;
				text-align: center;
				line-height:35px;
				font-family:Roboto;
				
			 }
			 
			 table, th, td {
			  border: 1px solid black;
			}
			</style> 
 </head>

  <body>
  	 <form id="form" action="../order" method="post">
 
    <h1>Hello!! You Can Order Here </h1>
	
		<div class ="designtype">
		<table>
			
		
                <tr>
				   <td> <label for="name">Customer Name</label></td>
				<td><input type="text" name="name" value="<%= data.name %>" disabled/></td>
    			</tr>

				
				<tr>
					<td><label for="name">Design Instructions</label></td>
    				<td><textarea name="comment" rows="4" cols="50"></textarea></td>
    			</tr>

				
				<tr>
				<td><input type="submit" name ="Submit" id="subm" value="submit" /></td>
				<td><input type="reset" name ="cancel" value="Cancel" /></td>
				</tr>
				
			
		</table>
		</div>
  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>		
  </body>

</html>