<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  
  
	<form id="form" action="https://tailorvbbot.herokuapp.com/" method="post">

    <label for="name">Full Name</label><br>
    <input type="text" name="name" value="<%= data.user_name  %>"/><br>

    <label for="name">Mobile Number</label><br>
    <input type="tel" name="phone" pattern="[0-9]{5,15}"><br>

    <label for="name">Address</label><br>
    <textarea name="address" rows="4" cols="50"></textarea><br>
    
    <input type="submit" name="submit"/>



    <div class ="info">
    <table>
      
    
        <tr>
          <td><label>Name </label>
           <input type="text" name ="name" id="nam" placeholder="Enter Your Name"  
           value="<%/customer/v9C6dFD0i3OMDyICuGK1.name%>"required></td>
           <br>
        </tr>

        <tr>
          <td><label>Ph No. </label>
          <input type="text" name ="ph" id="phnum" placeholder="Enter Your Ph No." required> </td>
        </tr>
        
        <tr>
          <td><label>Design Type No.</label>
          <input type="text" name ="ph" id="phnum" placeholder="Enter Design Type No." required> </td>
        </tr>
        
        <tr>
          <td><label> Date</label>
          <input type="date" name ="ph" id="phnum" placeholder="Date" required> </td>
        </tr>
        
        <tr>
          <td><label>Special Instruction</label>
          <input type="text area" name ="ph" id="phnum" placeholder="Enter Special Instruction" required> </td>
        </tr>
        
        <tr><td><input type="submit" name ="Submit" id="subm" value="submit" />
        <input type="reset" name ="cancel" id="canc" value="Cancel" /></td>
        </tr>
        
      
    </table>
    </div>

      </form>
  <script>
    
  const windowClose = () => {
    setTimeout(()=>{
      window.close();
    },2000);    
  }

      
  document.getElementById("form").addEventListener("submit", windowClose); 
	
 
  </script>
  </body>

</html>