<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	 
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
 </head>

  <body>
  	 <form id="form" action="../upload" method="post">
 
    <h1>Upload New Design</h1>
	
	
		 <table border="1">
			<tr>
				
				<th> Upload</th><th>Delete</th>
				<th>image</th>
			</tr>
			
 		</table>
	
	
  </body>

</html>